.services {
    margin: 43px 0;
}

.service_head {
    text-align: center;
    margin-bottom: 55px;
}

.service_head p {
    font-size: 55px;
    font-weight: 700;
    line-height: 66.56px;
    letter-spacing: 0.02em;
    text-align: center;
    color: #FFFFFF;
}

.service_head span {
    font-size: 35px;
    font-weight: 400;
    line-height: 42.36px;
    letter-spacing: 0.03em;
    text-align: center;
    color: #87878794;
}

.service_col {
    border: 5px solid #878787;
    padding: 24px;
    height: 100%;
}

.service_col p {
    margin-top: 22px;
    margin-bottom: 15px;
    font-size: 32px;
    font-weight: 500;
    line-height: 38.73px;
    text-align: left;
    color: #878787;
}

.service_col span {
    font-size: 18px;
    font-weight: 500;
    line-height: 21.78px;
    letter-spacing: 0.06em;
    text-align: left;
    color: #878787;
}